body {
    min-height: 100vh;
    background-image: url(img/lukasz-lada-LtWFFVi1RXQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #eee;
    height: 80px;
}

#locationSearch {
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;

    padding: 1px;
}

#submitBtn {
    width: 50px;
    height: 20px;

    border: 1px solid black;
    border-radius: 5px;
}

.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: 1;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: white;
    padding-top: 50px;
}

.main-section h2 {
    font-size: xx-large;
}

.main-section p {
    font-size: xx-large;
}



.middle-section {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    flex-direction: row;
    gap: 40px;
}


.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.weather-container-daily {
    display: flex;
    flex-direction: column;
    gap: 2px;

    color: lightgray;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;

    border-radius: 15px;
    padding: 10px;
}

.daily-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.dateDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}